.image-size {
  max-width: 400px;
  max-height: 400px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.image-size img {
  /* max-width: initial; */
  display: inline-block;
  min-width: 100%;
  min-height: 400px;
  -ms-interpolation-mode: bicubic; /* Better image scaling in IE */
  float: left;
  margin: 5px;
  overflow: hidden;
}
