.image-size {
  width: auto;
  height: auto;
  margin-bottom: 30px;
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(26, 24, 24, 0.09);
  box-shadow: 10px 10px 5px rgba(26, 24, 24, 0.7);
  orientation: portrait;
}
.image-size img {
  max-width: 300px;
  max-height: 300px;
  min-width: 300px;
  min-height: 300px;
  border-radius: 10px;
  margin-bottom: 10px;
  orientation: portrait;
}
.flex {
  display: flex;
  justify-content: center;
  align-content: center;
}

button {
  text-align: center;
}
